.fa-github.w3-hover-opacity {
  font-size: 28px; /* Passe die Größe hier an */
  padding-right: 10px;
  padding-bottom: 20px;
}
.fa.fa-linkedin.w3-hover-opacity {
  font-size: 28px; /* Passe die Größe hier an */
  padding-bottom: 20px;
}
.fa.fa-instagram.w3-hover-opacity {
  font-size: 28px; /* Passe die Größe hier an */
  padding-right: 10px;
  padding-bottom: 20px;
}
.w3-display-container img {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.email-link {
  transition: color 0.3s; /* Übergangseffekt für die Farbänderung */
}

.email-link:hover {
  color: rgb(12, 35, 241); /* Farbe des Links beim Hover */
}
.clickable-div {
  cursor: pointer;
  /* Weitere Stiländerungen hier */
}
.clickable-div {
  background-color: #f2f2f2;
  text-decoration: underline;
  /* Weitere Stiländerungen hier */
}
.underline {
  text-decoration: underline;
}
